.header {
	height: 100px;
	width: 100%;
	background-color: #fff;
	padding: 0 11px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;
	box-shadow: 0 0 5px #989898;
}
@media only screen and (max-width: 600px) {
	.header {
		height: 80px;
	}
}