.main {
	position: relative;
	/* Margin top because of header (130px) on large screen + 16px */
	margin-top: 146px;
	scroll-behavior: smooth;
}
.form-shadow {
	box-shadow: 0 0 6px #828282;
}
@media only screen and (max-width: 600px) {
	.main {
		/* Margin top because of header (100px) on phone screen + 16px */
		margin-top: 116px;
	}
}

label[class='input-label'] {
	display: block;
	position: relative;
	animation: animLabel .1s linear 0s normal 1 both running;
	background: inherit;
}

@keyframes animLabel {
	from {top: 30px; left: 5px; font-size: 1em;}
	to {top: 0; left: 0; font-size: .9em;}
}

.w3-input {
	background: inherit;
	outline: none;
}


