.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	background: #eee;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0 16px;
	transition: bottom .2s linear 0s;
}